* {
  margin: 0;
  border: 0;
}
html {
  scroll-behavior: auto !important;
}
body {
  background-color: #000;
  font-family: "Playfair Display", serif;
}
nav {
  z-index: 1;
}
.navbar-brand {
  width: 160px;
}
.navbar-brand img {
  width: 20%;
  height: auto;
}
.accordion-button {
  width: 80%;
  height: 2.5em;
}
.card img {
  height: 11em;
}

footer a {
  text-decoration: none;
  color: #fff;
}
